*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

button{
    cursor: pointer;
}

#container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    font-family: serif;
}

#sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:#1F2937;
    color:aliceblue;
    border-right: 2px solid aliceblue;
    font-family: inherit;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    justify-items: center;
    row-gap: 15px;
}

#sHeader{
    grid-row: 1/3;
    width: 100%;
    font-size: 30px;
    font-family: inherit;
    font-weight: bold;
    border-bottom: 1px solid aliceblue;
    display: grid;
    justify-items: center;
    align-items: center;
}

#addP{
    grid-row: 3/4;
    height: 70%;
    width: 50%;
    background-color: aliceblue;
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    border-radius: 7px;
    border: 2px solid aliceblue;
    margin-top: 10px;
}
.pName{
    height: 70%;
    width: 80%;
    background-color: #1F2937;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    font-family: inherit;
    border: 2px solid aliceblue;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:#1F2937;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
}

#dProject{
    height: 200px;
    width: 250px;
    padding: 15px;
    border: 2px solid #1F2937;
    border-radius: 8px;
    margin: auto;
    font-family: serif;
}

#dForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#dForm label{
    font-size: 25px;
    font-family: inherit;
    font-weight: bold;
}
#pTitle{
    height: 45px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
}
#dBtns, #dBtns2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#dBtn1, #dBtn2, #cancel2, #add2{
    height: 35px;
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    background-color: #1F2937;
    color: aliceblue;
    padding: 5px;
    box-sizing: border-box;
}
#subContainer{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

#addTodoBtn{
    height: 40px;
    width: 10%;
    background-color: aliceblue;
    color: #1F2937;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}

#dTodo{
    height: 350px;
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #1F2937;
    margin: auto;
    border-radius: 7px;
}
#dForm2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.p1{
    display: grid;
    justify-items: start;
    width: 100%;
    gap: 5px;
}
.p1 label{
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}
.p1 input {
    height: 30px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
}
#tDescription{
    height: 50px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
}

.tDiv{
    height: 175px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* overflow: auto; */
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid aliceblue;
    border-radius: 8px;
    background-color: #1F2937;
    color: aliceblue;

}

.btnDiv{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.tDivBtn{
    height: 100%;
    width: 50%;
    border-radius: 10px;
    font-size: 17px;
    font-family: inherit;
    font-weight: bold;
    background-color: aliceblue;
    color: #1F2937;
    padding: 5px;
    box-sizing: border-box;
}
.tDivTitle{
    font-size: 22px;
    font-weight: bold;
    font-family: inherit;
    margin: 20px 0;
}
.tDivDd{
    font-size: 18px;
    font-weight: 450;
    font-family: inherit;
}
